<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Std</title>
</head>
<body>
    <h1>Add Standard</h1>
    <form method="post">
        <table>
            <tr>
                <td>Standard : </td>
                <td><input type="text" name="std"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add Std"></td>
            </tr>
        </table>
    </form>
</body>
</html>