<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Div</title>
</head>
<body>
    <h1>Add Div</h1>
    <form method="post">
        <table>
            <tr>
                <td>Div : </td>
                <td><input type="text" name="div"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add Div"></td>
            </tr>
        </table>
    </form>
</body>
</html>