<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <button><a href="/admin_log_out">Log Out</a></button>
    <h1>Admin Panel</h1>
    <button><a href="/add_staff">Add Staff</a></button>
    <button><a href="/add_std">Add Std</a></button>
    <button><a href="/add_div">Add Div</a></button>
    <button><a href="/add_student">Add Student</a></button>
    <button><a href="/assign_staff_div_wise">Assign Staff Division  Wise</a></button>
    <button><a href="/view_staff">View Staff</a></button>
    <button><a href="/view_student">View Student</a></button>
    <button><a href="/view_student_std_and_div_wise">View Student Std And Div Wise</a></button>
    <button><a href="/view_result_all_student">View Result All Student</a></button>
    <button><a href="/all_student_top_3_std_div">All Student Top 3 Std Div</a></button>
    <button><a href="/view_all_fail_student">View All Fail Student</a></button>
</body>
</html>