<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Panel</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <button><a href="/staff_log_out">Log Out</a></button>
    <h1>Staff Panel</h1>
    <button><a href="/staff_view_student">View Student</a></button>
    <button><a href="/add_result">Add Result</a></button>
    <button><a href="/top3_view">Top 3 View</a></button>
    <button><a href="/transfer_student">Transfer Student</a></button>
</body>
</html>